.UserCard{
    margin: 1rem;
    width: 300px;
    padding:1rem;
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.438);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.UserName{
    font-weight: bold;
    font: size 1.25rem;

}

.ProfileImg{
    height:100px;
}


.UserLink{
    text-decoration: none;
    color: #FFFFFF;
    background-color: blueviolet;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 12px;
}